{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register - HealthBridge</title>
    <link rel="stylesheet" href="{% static 'healthbridge_app/style.css' %}">
    <script src="{% static 'healthbridge_app/script.js' %}"></script>
</head>
<body>
    <div class="register-bg-blur"></div>
      <nav>
        <div class="logo">HealthBridge</div>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
   
    <form name="registerForm" method="post" onsubmit="return validateRegisterForm()">
        {% csrf_token %}
          {% if error %}
        <div class="error" style="text-align:center;">{{ error }}</div>
    {% endif %}

    
        <h1 style="text-align:center;">Sign Up</h1>
        <p class="tagline">Join us in building a healthier tomorrow.</p>
        <div id="error" class="error"></div>
        <div class="name-fields">
    <input type="text" name="first_name" placeholder="First Name" required>
    <input type="text" name="last_name" placeholder="Last Name" required>
</div>
 <div class="form">
<input type="text" name="email" placeholder="Email" required>
<input type="password" name="password" placeholder="Password" required>
<input type="password" name="password2" placeholder="Confirm Password" required>
</div>
        <button type="submit">Register</button>
    </form>
    <p style="text-align:center;">
        Already have an account? <a href="{% url 'login' %}">Login</a>
    </p>
</body>
</html>
